@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: Roboto;
  //max-width: 1920px;
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto;
}

html {
  scroll-behavior: smooth;
}

* {
  --text-color: #2f2f2f;
  --background-color: #eee;
  --text-title-size: 60px;
  --text-desc-size: 20px;
  --header-size: 60px;

  &::-webkit-scrollbar {
    display: none;
  }

  .invert {
    filter: invert(100%) brightness(200%);
  }

  .animate {
    position: relative;
    opacity: 0;
    transition: 0.8s;
    transform: translateX(-50px);
  }

  .animate-right {
    position: relative;
    opacity: 0;
    transition: 0.8s;
    transform: translateX(50px);
  }

  .shown {
    opacity: 1;
    transform: none;
  }

  .btn_border {
    display: block;
    text-align: center;
    background-color: none;
    background-position: center;
    border: solid;
    border-color: #fff;
    border-radius: 50px;
    transition: 0.4s;

    &:hover {
      background-color: #8140cc;
      border-color: black;
    }
  }
}

#site {
  //scroll-snap-type: y mandatory;
  //scroll-snap-points-y: repeat(100vh);
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: 3px;
  scrollbar-color: #2f2f2f;

  section {
    //  scroll-snap-align: center;
    height: 100vh;
  }

  .header {
    position: fixed;
    z-index: 1000;
    min-width: 100%;
    color: #fff;
    background: black;
    transition: 0.5s;
    scroll-snap-align: start;

    a {
      color: #fff;
      text-decoration: none;
    }

    &__container {
      margin: 0px;
      padding: 0 100px;
      height: var(--header-size);
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: var(--header-size);
      padding: 0 100px;
      margin: 0;

      &__logo {
        display: block;

        .logo {
          height: 50px;
          vertical-align: bottom;
          filter: invert(100%) brightness(200%);
        }
      }

      &__nav {
        margin-left: auto;
        font-weight: bold;

        .nav_list {
          list-style: none;
          display: flex;
          align-items: center;
          list-style: none;

          li + li {
            margin-left: 40px;
          }

          a {
            text-decoration: none;
          }
        }
        .nav_hamburger{
          display: none;
          cursor: pointer;

          .bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            transition: all 0.3s ease-in-out;
            background-color: var(--background-color);
          }
        }
      }
    }
  }

  .header_white {
    color: #fff;
    background: #fff;

    .header__container {
      &__logo {
        .logo {
          filter: none;
        }
      }
      &__nav {
        .nav_hamburger {
          .bar {
            background: var(--text-color);
          }
        }
      }
    }
  }

  .top {
    position: relative;
    overflow-y: hidden;

    &__img {
      position: relative;
      width: 100%;
      height: 100vh;
      padding: 0;
      background-image: url("../img/bg_top.gif");
      background-position: center;
      background-size: cover;
    }

    &__ttl {
      position: absolute;
      top: 30%;
      left: 10%;

      &__text {
        font-size: 80px;
        font-weight: bold;
        color: #fff;
      }

      &__btn_sns {
        position: relative;
        display: flex;
        align-items: flex-start;
        margin-top: 20px;

        a {
          color: #fff;
          text-decoration: none;
        }

        a + a {
          margin-left: 20px;
        }

        #discord {
          width: 260px;
          height: 80px;
          font-size: 28px;
          font-weight: bold;
          line-height: 80px;
        }

        .icons {
          position: relative;
          display: flex;
          align-items: flex-start;
          margin-left: 20px;

          #twitter {
            display: block;
            line-height: 90px;

            img {
              width: 30px;
              height: 25px;
            }
          }

          #insta {
            display: block;
            margin-left: 17px;
            line-height: 94px;

            img {
              width: 28px;
              height: 28px;
            }
          }

          #github {
            display: block;
            line-height: 94px;

            img {
              width: 28px;
              height: 28px;
            }
          }

          #youtube {
            display: block;
            line-height: 88px;
          }
        }
      }
    }
  }

  main {
    margin-top: 0;
    color: var(--text-color);

    .aboutus {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow-x: hidden;
      text-align: left;
      background-color: var(--background-color);
      transition: 0.8s;

      &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        div + div {
          margin-top: 20px;
        }

        &__ttl {
          font-size: var(--text-title-size);
          font-weight: bold;
          text-transform: uppercase;
        }

        &__desc {
          max-width: 80%;
          font-family: "Noto Sans JP" sans-serif;
          font-size: var(--text-desc-size);
          font-weight: 600;
          line-height: 2rem;
          text-align: center;
        }
      }

      &__image {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
          height: 40vw;
          filter: drop-shadow(5px 5px 5px rgba(0 0 0 9%));
          filter: box-shadow(5px 5px 5px rgba(0 0 0 9%));
          object-fit: cover;
        }
      }
    }

    .event {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      text-align: center;
      background-color: #0a0a0a;

      &__container {
        &__ttl {
          font-size: var(--text-title-size);
          font-weight: bold;
          text-transform: uppercase;
        }

        &__desc {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;

          p {
            font-family: "Noto Sans JP" sans-serif;
            font-size: var(--text-desc-size);
            font-weight: 600;
            line-height: 3rem;
          }

          a {
            width: 270px;
            height: 50px;
            margin-top: 10px;
            font-size: 16px;
            font-weight: bold;
            line-height: 50px;
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }

    .guide {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: left;
      background-color: var(--background-color);
      scroll-snap-align: center;

      &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        &__ttl {
          font-size: var(--text-title-size);
          font-weight: bold;
          text-transform: uppercase;
        }

        &__desc {
          justify-content: center;

          p {
            font-family: "Noto Sans JP" sans-serif;
            font-size: var(--text-desc-size);
            font-weight: 600;
            line-height: 3rem;
          }

          .go_guide {
            width: 270px;
            height: 50px;
            font-size: 16px;
            font-weight: bold;
            line-height: 50px;
            color: var(--text-color);
            text-decoration: none;
            border-color: var(--text-color);

            &:hover {
              color: #fff;
            }
          }
        }
      }

      &__image {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
          width: 30vw;
          filter: drop-shadow(5px 5px 5px rgba(0 0 0 9%));
          filter: box-shadow(5px 5px 5px rgba(0 0 0 9%));
          object-fit: cover;
        }
      }
    }
  }

  .footer {
    scroll-snap-align: center;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: #f0f0f0;

      &__ttl {
        font-size: 60px;
        font-weight: bold;
        color: var(--text-color);
      }

      &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1.5rem;

        ui + ui {
          margin-top: 2rem;
        }

        ui {
          .link {
            display: flex;
            color: var(--text-color);
            text-decoration: none;
            transition: 500ms;
            transform: scale(1);

            img {
              height: 30px;
              line-height: 90px;
            }
            .logo_alt {
              height: 25px;
            }

            .is {
              margin-left: 10px;
              font-size: 20px;
              font-weight: 600;
              line-height: 2rem;
            }
          }

          &:hover {
            a {
              transition: 500ms;
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  * {
    --header-size: 90px;
  }

  #site {
    .header {
      .header__container__logo {
        .logo {
          height: 70px;
        }
      }

      &.active {
        background: #fff;

        .header__container__logo {
          .logo {
            height: 70px;
            filter: none;
          }
        }
      }

      &__container {
        padding: 0 10%;

        &__nav {
          .nav_list {
            position: fixed;
            top: -100vh;
            left: 0%;
            z-index: -1;
            flex-direction: column;
            gap: 0;
            width: 100vw;
            height: 0;
            text-align: center;
            background-color: #fff;
            transition: 0.3s;

            a {
              font-size: 2.2rem;
              color: var(--text-color);
              transition: 0.4s;

              &:hover {
                font-size: 2.7rem;
              }
            }

            li {
              display: block;
              //transform: translateX(100vw);
              margin-top: calc(100vh / 10);
              transition: 0s;
            }

            li + li {
              margin-left: 0;
            }
          }

          .nav_list.active {
            top: var(--header-size);
            left: 0%;
            height: 100vh;

            li {
              display: block;
              transition: 0.3s;
              transform: none;
            }
          }

          .nav_hamburger {
            display: block;
          }

          .nav_hamburger.active {
            .bar {
              background: var(--text-color);

              &:nth-child(2) {
                opacity: 0;
              }

              &:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
              }

              &:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
              }
            }
          }
        }
      }
    }

    .top {
      &__ttl {
        &__text {
          font-size: 10vw;
        }

        &__btn_sns {
          flex-direction: column;
        }
      }
    }

    main {
      .aboutus {
        background-position: 30%;

        &__container {
          align-items: center;
          margin-left: 0;

          &__ttl {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            p {
              text-align: center;
            }
          }

          &__desc {
            position: relative;
            max-width: 70%;
            text-align: center;
          }
        }

        &__image {
          display: none;
        }
      }

      .guide {
        &__container {
          align-items: center;

          .ttl {
            p {
              text-align: center;
            }
          }

          &__desc {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
          }
        }

        &__image {
          display: none;
        }
      }
    }
  }
}
